.submit-btn{
    background-color: #F86F03 !important;
    color: aliceblue !important;
    font-weight: 600 !important;

}
.Add_update_btn{
    background-color: #F86F03 !important;
    color: aliceblue !important;
    font-weight: 600 !important;
}